{% extends "chats/base_chat.html" %}
{% load staticfiles %}
{% block header %}
{{ block.super }}
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script type="text/javascript" src="{% static "jquery.gracefulWebSocket.js" %}"></script>
 <script type="text/javascript">
    $(document).ready( function() {
    window.chat = {};
    chat.ws = $.gracefulWebSocket("ws://127.0.0.1:1025/ws");
    chat.send = function (message) {
      chat.ws.send(message);
    }

    chat.ws.onmessage = function (event) {
      var messageFromServer = event.data;
      var list_element = document.createElement('li');
      list_element.innerHTML = messageFromServer;
      $("#message_list ul").prepend(list_element);
    };

    var inputBox = document.getElementById("inputbox");

    inputbox.addEventListener("keydown", function(e) {
      if (!e) { var e = window.event; }

      if (e.keyCode == 13) { 
        e.preventDefault(); // sometimes useful
        chat.send(inputbox.value);  
        inputbox.value="";
      }
    }, false);

    });
 </script>
{% endblock %}